@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


.title-line::before {
    content: '';
    display: block;
    border-bottom: 1px solid #000;
    margin: 11px 0;
    width: 654px;
}

.title-time {
    width: 654px;
    display: flex;
    align-items: center;
    margin: 11px 0 11px 36px;

}

.title-line {
    width: 654px;
    display: flex;
    align-items: center;
    margin-left: 36px;
}

.title {
    font-size: 35px;
    line-height: 24px;
    font-family: 'Nunito', sans-serif;
    margin: 11px 0;
}
 
.description {
    font-size: 20px;
    line-height: 27px;
    font-family: 'Nunito', sans-serif;
    margin: 11px 0;
}

.title-line p {
    font-size: 26px;
    line-height: 24px;
    font-family: 'Nunito', sans-serif;
}
.title-time p {
    font-size: 26px;
    line-height: 24px;
    font-family: 'Nunito', sans-serif;
}

.checkmark {
    font-size: 26px;
    line-height: 24px;
    font-family: 'Nunito', sans-serif;
}

.text-right {
    text-align: right;
}
.form {
     margin-left: 36px;
     margin-top: 26px;
}
