
.total-label {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    line-height: 34px;
  }
  
  .total-value {
    font-family: 'Nunito', sans-serif;
    font-size: 23px;
    line-height: 24px;
  }